<div style="position:fixed; top:40px; left:460px; font-family:courier; font-size:13px; color:#008282; font-weight:bold">
<img src="http://i.imgur.com/g6jbm.png"><br><br><br><br>
</div><h2 style="position:fixed; top:220px; left:690px;"></h2>

<h1>fish demons</h1>

<div>
hrmm. hello. i am pike.<br><br>i like animes, robots, object heads, clocks, video games, whatever. i also draw on occasion.<br>
im into pokemon and kirby among other things. tally hall is probably the best band ever and you should definitely listen to them. 
<br><br><a href="http://subeta.net/wishlists/Pike/128091">help</a> me out with my <a href="http://subeta.net/ushop.php?shopid=206889&cat=312319">time gallery</a>?
<img src="http://i31.tinypic.com/24x3p0l.png" height="0" width="0">
<br><br>

<table style="width:250px; margin-left:20px;"> 
<tr><td><a href="/petinfo.php?petid=1024930"><img src="http://i.imgur.com/8ZCSD.png"></td><td><span style="text-align:right;"><a href="/petinfo.php?petid=1024930">pike<a></a></span></td></tr>
<tr><td><a href="/petinfo.php?petid=1024926"><img src="http://i.imgur.com/wQp4E.png"></td><td><span style="text-align:right;"><a href="/petinfo.php?petid=1024926">kite<a></a></span></td></tr>
<tr><td><a href="/petinfo.php?petid=1024928"><img src="http://i.imgur.com/11lhj.png"></td><td><span style="text-align:right;"><a href="/petinfo.php?petid=1024928">lucas<a></a></span></td></tr>
<tr><td><a href="/petinfo.php?petid=670995"><img src="http://i.imgur.com/AzXRR.png"></td><td><span style="text-align:right;"><a href="/petinfo.php?petid=670995">rawley<a></a></span></td></tr>
<tr><td><a href="http://subeta.net/pets/Raco"><img src="http://puu.sh/6w9wc/736817bd58.png"></td><td><span style="text-align:right;"><a href="http://subeta.net/pets/Raco">raco<a></a></span></td></tr>
<tr><td><a href="/petinfo.php?petid=1024927"><img src="http://i.imgur.com/jyWwD.png"></td><td><span style="text-align:right;"><a href="/petinfo.php?petid=1024927">dani<a></a></span></td></tr>
<tr><td><a href="/petinfo.php?petid=1024931"><img src="http://i.imgur.com/XBRaI.png"></td><td><span style="text-align:right;"><a href="/petinfo.php?petid=1024931">jasmine<a></a></span></td></tr>
<tr><td><a href="/petinfo.php?petid=1024932"><img src="http://i.imgur.com/WSJf6.png"></td><td><span style="text-align:right;"><a href="/petinfo.php?petid=1024932">andrew<a></a></span></td></tr>
<tr><td><a href="/petinfo.php?petid=674487"><img src="http://i.imgur.com/19opG.png"></td><td><span style="text-align:right;"><a href="/petinfo.php?petid=674487">clockwise<a></a></span></td></tr>
<tr><td><a href="/petinfo.php?petid=1783886"><img src="http://puu.sh/6qvQl/109bc5b7c6.png"></a></td><td><span style="text-align:right;"><a href="/petinfo.php?petid=1783886">tacita</a></td></span></tr>
<tr><td><a href="/petinfo.php?petid=1801665"><img src="http://i.imgur.com/jwxtyCj.png"></a></td><td><span style="text-align:right;"><a href="/petinfo.php?petid=1801665">ring</a></span></td></tr>
<tr><td><a href="/petinfo.php?petid=3201650"><img src="http://puu.sh/6tKI0/6cc85e3879.png"></a></td><td><span style="text-align:right;"><a href="/petinfo.php?petid=3201650">vector</a></span></td></tr>
<tr><td><a href="/petinfo.php?petid=672477"><img src="http://i.imgur.com/5ZZa4.png"></td><td><span style="text-align:right;"><a href="/petinfo.php?petid=672477">caidah<a></a></span></td></tr>
<tr><td><a href="/petinfo.php?pet=chandelure"><img src="http://imgur.com/aMN8jtl.png"></td><td><span style="text-align:right;"><a href="/petinfo.php?pet=chandelure">chandelure<a></a></span></td></tr>
<tr><td><a href="/petinfo.php?petid=864149"><img src="http://i.imgur.com/G6skh.png"></td><td><span style="text-align:right;"><a href="/petinfo.php?petid=864149">wheatley<a></a></span></td></tr></table>


<style type="text/css">
#column1
{
width:500px;
height:1400px;
margin:0px;
padding:0px;
background-color:white;
position:absolute;
top:0px!important;
bottom:0px!important;
left:140px;
padding:0px;
overflow:fixed;
border:0px
}

#userinfo_0{
text-align:left;
}
#info_block{
background-color:none
}
.post{
border-bottom:1px dotted black;
padding-bottom:5px;
}
textarea,input{
font-family:tahoma;
font-size:8pt;
color:000000;
letter-spacing:0px;
background-color:ff0000;
border:1px solid black;
cursor:hand;
}
u,b,strong
{
font-family:tahoma;
font-size:10px;
color:#69531f;
font-weight:bold;
text-decoration:none;
background-color:transparent;
}
a,a:link{
color:#69531f;
font-weight:normal;
text-decoration:none;
}
a:hover{
color:#896e30;
font-weight:normal;
text-decoration:none;
}
#column1 li
{
background-color:white;
border:0px
}
.header{
background-color:transparent;
border:0px;
width:208px
}
hr
{
display:none!important
}
#column3 li{
display:none!important
}
#column2 li{
display:none!important
}
object,p,br,text,table,td,i{
background-color:white;
height:-500px;
vertical-align:top;
font-family:tahoma;
color:black;
font-size:10px;
letter-spacing:0px;
border:0px;
}
h1{
font-size:21px;
color:#69531f;
}
h2{
font-family:georgia;
font-size:40px;
color:#FFFFFF;
font-decoration:italic
}
html{
background-color:#a69a82
}
.textbox{
width:207px!important;
height:50px!important;
font-family:tahoma;
font-size:8pt;
padding:2px;
color:white;
letter-spacing:0px;
background-color:#9B5353;
border:1px #9B5353!important;
position:absolute;
top:730px;
left:330px}
.forminput{
border:0px;
width:212px!important;
font-family:courier;
font-size:8pt;
color:#74B1CF;
text-transform:lowercase;
letter-spacing:1px;
background-color:transparent;
text-decoration:italic;
position:absolute;
top:790px;
left:330px
}
#navigation{
display:none!important
}</style>